<div class="container">
      <p-treeTable #dt [autoLayout]="true" [rowHover]="true" [value]="tableData" *ngIf="tableData && tableData.length >0">
          <ng-template pTemplate="header">
              <tr>
                  <th [ttSortableColumn]="'label'">Name
                      <p-treeTableSortIcon [field]="'label'"></p-treeTableSortIcon>
                  </th>
                  <th [ttSortableColumn]="'owner'">Owner
                      <p-treeTableSortIcon [field]="'owner'"></p-treeTableSortIcon>
                  </th>
                  <th [ttSortableColumn]="'createAt'">Create At
                      <p-treeTableSortIcon [field]="'createAt'"></p-treeTableSortIcon>
                  </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
              <tr>
                  <td>
                      <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                      {{rowData.label}}
                  </td>
                  <td>
                      {{rowData.owner}}
                  </td>
                  <td>
                      {{rowData.createAt | date:'shortDate'}}
                  </td>
              </tr>
          </ng-template>
      </p-treeTable>
  
</div>